
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0f0f;
}
.sm a{
  padding:10px;
display: inline-flex;
text-decoration: none;
font-size: 24px;
width: 40px;
height: 40px;
color: #f0f0f0;
justify-content: center;
align-items: center;
position: relative;
margin: 0 7px;
}
.sm a::before{
content: '';
position: absolute;
width: 60px;
height: 60px;
border-radius: 25%;
z-index: -1;
transition: transform .3s ease-in;
}
.sm a:nth-child(1)::before{
background: #38529a;
}
.sm a:nth-child(2)::before{
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.sm a:nth-child(3)::before{
background: black;
}
.sm a:hover::before{
transform: scale(0);
}
.sm a i{
transition: transform .3s ease-in;
}
